html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: flex-start;
}

body,
header,
main,
footer {
	width: 100%;
}

header,
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: black;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
	background: lightgray;
	padding: 0;
	padding-bottom: 24px;
	padding-top: 24px;
	justify-content: center;
	align-items: center;
}

main .webgl-content {
	display: block;
	position: relative;
	top: unset;
	left: unset;
	right: unset;
	transform: unset;
}

main .footer {
	display: block;
}

main .footer div {
	padding: 8px;
	min-width: 24px;
	min-height: 24px;
}

footer {
	flex-direction: row-reverse;
}

.ba-logo {
	padding: 8px;
}
